.tour-request-page{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 18px;
}

.title{
    font-weight: bold;
    font-size: 48px;
}

.request-input{
    padding: 0%;
    margin: 0%;
}

.red-color{
    color: #FF385C;
}

.h2{
    font-weight: bold;
}