

.tourdetail-page{
    display: flex;
    flex-direction: column;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 600;

    .tour-main{
        padding-left: 150px;
        padding-right: 150px;

        .tour-title{
            margin-top: 100px;
            font-size: 40px;
            margin-bottom: 8px;
        }
        .link-address{
            color: black;
        }
        .list-picture{
            flex-direction: row;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: center;
            
            .picture-main{
                display: flex;
                height: 500px;

                .list-picture-cover{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .picture-cover{
                        height: 240px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .tour-title2{
            font-size: 30px;
            font-weight: 200;
        }
        .tour-title3{
            margin-top: 8px;
            font-weight: 100;
            font-size: 18px;
        }
        .hr{
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .aircover{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;

            .aircover-left{
                flex-direction: column;
                flex: 1;
                width: 200px;

                .tour-title4{
                    font-size: 30px;
                    margin-bottom: 20px;
        
                    .color-red{
                        color: #FF385C;
                    }
                }
                .paragraph{
                    font-weight: 100;
                }
                .btn-aircover{
                    background-color: white;
                    margin-top: 6px;
                    border: none;
                    font-weight: bold;
                    font-size: 14px;
                    border-bottom: 1px solid black;
                    margin-bottom: 20px;
                    transition: ease 0.5s;
                }
                .btn-aircover:hover{
                    color: #FF385C;
                    border-bottom: 1px solid #FF385C;
                    transition: ease 0.5s;
                }
                .btn-hide{
                    margin-top: 20px;
                }
                .title-children{
                    font-size: 22px;
                    margin-bottom: 2px;
                    margin-top: 6px;
                }
            }
            .aircover-right{
                flex-direction: column;
                width: 500px;
                padding-left: 20px;

                .frame-pay{
                    width: 100%;
                    border-radius: 20px;
                    border: 1px solid white;
                    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.199);
                    padding: 50px;

                    .price{
                        font-size: 26px;
                    }
                    .paragraph{
                        font-weight: 100;
                        font-size: 20px;
                        color: black;
                        pointer-events: none;
                    }
                    .book-tour{
                        margin-top: 20px;
                        flex-direction: column;

                        .set-room{
                            flex-direction: row;
                            display: flex;

                            .frame-day{
                                width: 50%;
                                flex-direction: column;
                                display: flex;
                                padding-top: 10px;

                                .label-day{
                                    margin-bottom: 10px;
                                }
                                .input-day{
                                    border: none;
                                    height: 30px;
                                }
                            }                            
                        }
                        .customer{
                            margin-bottom: 20px;
                            
                            .frame-customer{
                                width: 100%;
                                flex-direction: column;
                                display: flex;
                                padding-top: 10px;

                                .label-customer{
                                    display: flex;
                                }
                                .input-customer{
                                    height: 30px;
                                }
                            }
                        }
                    }
                    .btn-aircover{
                        background-color: white;
                        margin-top: 6px;
                        border: none;
                        font-weight: bold;
                        font-size: 14px;
                        border-bottom: 1px solid black;
                        margin-bottom: 20px;
                        transition: ease 0.5s;
                    }
                    .btn-aircover:hover{
                        color: #FF385C;
                        border-bottom: 1px solid #FF385C;
                        transition: ease 0.5s;
                    }
                    .btn-bookroom{
                        font-weight: bold;
                        margin-top: 20px;
                        width: 100%;
                        height: 50px;
                        border-radius: 20px;
                        background-color: #FF385C;
                        border: 1px solid #FF385C;
                        font-size: 20px;
                        color: white;
                        transition: ease 0.5s
                    }
                    .btn-bookroom:hover{
                        background-color: white;
                        color: #FF385C;
                        border: 1px solid #fca3b3;
                        transition: ease 0.5s
                    }
                }
            }
        }
        .footer{
            flex-direction: row;
            display: flex;
            justify-content: space-between;


            .frame-footer{
                flex-direction: column;
                display: flex;
                flex-basis: 40%;
                font-weight: lighter;

                .title-footer{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
        }
    }
}