@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

:root {
  --primary_color: #FF385C;
  --gray_border_color: #DDDDDD;
  --gray_category_color: #DDDDDD;
  --gray_text_color: #AAAAAA;
  --gray_button_color: #F7F7F7;
  --black_active_category_color: #000000;
  --navbar_height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
