.service{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    padding-left: 40px;
    padding-right: 40px;
}

.row{
    margin: 0px;
    padding: 0px;
}

.list-service{
    text-align: center;
}

.h3{
    color: #FF385C;
}

.h5{
    color: black;   
}

.list-service-childer{
    list-style-type: none;
    padding-left: 0px;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
    color: #888;
}